---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404">
   <div class="container">
     <div class="row">
      <h1 class="error-page">This Page is It doesn't exist ! </h1>
     </div>

   </div>
</Layout>


<style>
   .error-page{
      margin-block: 5em;
   }
</style>