---
import {imgs} from '../assets'
---

<section id="hero">
   <div class="container">
      <div class="gradient-overlay">
         <img src={imgs.gradient} alt="" srcset="">
      </div>
      <article class="hero-body">
         <h3 class="f-2">
            A designer passionate about creating beautiful user friendly products
         </h3>
         <p class="lead f-5">
            Senior Product Designer at Linktree. Previously Lead UX/UI Designer at VideoMyJob. Alumni, Y Combinator 2015.
         </p>
         <button class="button button-primary f-6">view work</button>
      </article>
   </div>
</section>