---
import { imgs } from "../assets";

---

<section id="workWithMe">
   <div class="container">
      <h3>On Working With Me</h3>
      <div class="row">
         <div class="four columns">
            <img src={imgs.man}>
            <h4>Jon Deo</h4>
            <h5>Ui/Ux Designer </h5>
         </div>
         <div class="eight columns">
            <p>
               "Sebastian is a guru at all things UX design, consistently producing intuitive, modern, and bold designs. He is a natural problem solver in the design space so everyone went to him if they were stuck on a feature or flow... Any business would be lucky to have him."
            </p>
         </div>
      </div>
   </div>
</section>